.about {
  padding: 80px 60px;
  text-align: center;
}

.about h2 {
  font-size: 40px;
  color: #00e5ff;
  margin-bottom: 25px;
}

.about p {
  max-width: 750px;
  margin: auto;
  font-size: 18px;
  color: #cccccc;
  line-height: 1.8;
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.1);
  backdrop-filter: blur(10px);
  transition: 0.3s;
}

.about p:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(0, 229, 255, 0.25);
}


/* Mobile Responsive */

@media (max-width: 768px) {

  .about {
    padding: 60px 20px;
  }

  .about h2 {
    font-size: 32px;
  }

  .about p {
    font-size: 16px;
    padding: 20px;
  }

}