.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 50px;
}

.hero span {
  color: #00ffff;
}

.hero h2 {
  font-size: 25px;
}

.hero p {
  max-width: 600px;
  font-size: 18px;
}

.hero-buttons button {
  margin: 15px;
  padding: 12px 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}
.profile-image {
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #00e5ff;
  box-shadow: 0 0 25px rgba(0, 229, 255, 0.6);
  margin-bottom: 30px;
  transition: 0.4s ease;
}

.profile-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(0, 229, 255, 0.9);
}